<div class="section section-cart shop-cart" id="shopCart">
	<table class="table shop-table cart-table">
		<tbody>
			<tr class="itemstatus-in">
				<td class="item-thumb"><img class="thumb" src="http://placehold.it/120x120&text=+" /></td>
				<td class="item-product">
					<h4 class="title">This is the Product Title</h4>
					<p class="desc">Etiam porta sem malesuada magna mollis euismod nullam quis risus.</p>
					<span class="label label-in">in stock</span>
					<span class="item-price">$8.95</span>
					<span class="item-qty">{% include "select-qty" %}</span>
					<span class="item-total">$0.00</span>
				</td>
				
			</tr>
		</tbody>
	</table>
	<div class="cart-total clearfix">
		<span class="title">Total:</span>
		<span class="amount">$0.00</span>
	</div>
</div>